<div class="container">
      <header>
      <nav class="navbar poppins navbar-expand-xxl navbar-light pt-3">
        <div class="container-fluid">
          <button
            class="navbar-toggler first-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent20"
            aria-controls="navbarSupportedContent20"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="animated-icon1"><span></span><span></span><span></span></span>
          </button>
          <a class="navbar-brand" href="/">
            <img
              src="/logo.svg"
              class="img-fluid logo-img"
              alt="ACLS Training Center Logo"
              style="width: 50px; height: auto;"
            >RN Mobility
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent20">
            <ul class="navbar-nav center-nav mx-auto">
              <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  >Courses</span
                >
                <ul class="dropdown-menu">
                  <li><i class="bi bi-heart-pulse"></i><a class="dropdown-item" href="https://www.acls.net/acls">ACLS certification</a></li>
                  <li><i class="bi bi-lungs"></i><a class="dropdown-item" href="https://www.acls.net/bls">BLS certification</a></li>
                  <li><i class="bi bi-hospital"></i><a class="dropdown-item" href="https://www.acls.net/pals">PALS certification</a></li>
                  <li><a class="dropdown-item h2 m-0 p-0" href="https://www.acls.net/monitor-tech">Monitor tech</a></li>
                  <li>
                    <ul class="list-unstyled">
                      <li>
                        <i class="bi bi-clipboard-pulse"></i
                        ><a class="dropdown-item" href="https://www.acls.net/arrhythmia-interpretation">Arrythmia interpretation</a>
                      </li>
                      <li><i class="bi bi-activity"></i><a class="dropdown-item" href="https://www.acls.net/12lead-ecg">12-lead ECG</a></li>
                    </ul>
                  </li>
                  <li>
                    <i class="bi bi-virus"></i><a class="dropdown-item" href="https://www.acls.net/bbp">Bloodborne pathogens OSHA course</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  >Resources</span
                >
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-lg-6">
                      <ul class="list-unstyled">
                        <li>
                          <i class="bi bi-file-earmark-check"></i
                          ><a class="dropdown-item" href="https://www.acls.net/quiz">ACLS pretest practice quizzes</a>
                        </li>
                        <li>
                          <i class="bi bi-patch-question"></i
                          ><a class="dropdown-item" href="https://www.acls.net/acls-faq">ACLS frequently asked questions</a>
                        </li>
                        <li>
                          <i class="bi bi-file-earmark-check"></i
                          ><a class="dropdown-item" href="https://www.acls.net/quiz#bls-practice-quiz">BLS practice quizzes</a>
                        </li>
                        <li>
                          <i class="bi bi-patch-question"></i
                          ><a class="dropdown-item" href="https://www.acls.net/bls-faq">BLS frequently asked questions</a>
                        </li>
                        <li>
                          <i class="bi bi-file-earmark-check"></i
                          ><a class="dropdown-item" href="https://www.acls.net/quiz#pals-practice-quiz">PALS practice quizzes</a>
                        </li>
                        <li>
                          <i class="bi bi-patch-question"></i
                          ><a class="dropdown-item" href="https://www.acls.net/pals-faq">PALS frequently asked questions</a>
                        </li>
                        <li>
                          <i class="bi bi-patch-question"></i
                          ><a class="dropdown-item" href="https://www.acls.net/bbp-faq">BBP frequently asked questions</a>
                        </li>
                        <li>
                          <i class="bi bi-file-earmark-check"></i
                          ><a class="dropdown-item" href="https://www.acls.net/quiz#just-for-ems">EMS practice quizzes</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6">
                      <ul class="list-unstyled">
                        <li>
                          <i class="bi bi-person-vcard"></i
                          ><a class="dropdown-item" href="https://www.acls.net/printed_products">Crash cart/pocket cards</a>
                        </li>
                        <li>
                          <i class="bi bi-card-text"></i
                          ><a class="dropdown-item" href="https://www.acls.net/acls-crash-cart-faq">ACLS crash FAQ</a>
                        </li>
                        <li>
                          <i class="bi bi-play-circle"></i><a class="dropdown-item" href="https://www.acls.net/videos">ACLS videos</a>
                        </li>
                        <li>
                          <i class="bi bi-card-heading"></i
                          ><a class="dropdown-item" href="https://www.acls.net/icd-10-flashcards">ICD-10 flashcards (humor)</a>
                        </li>
                        <li><a class="dropdown-item h2 m-0 p-0" href="https://www.acls.net/nrp-prep/">Resources for NRP</a></li>

                        <li>
                          <i class="bi bi-book"></i
                          ><a class="dropdown-item" href="https://www.acls.net/quizzes/nrp/nrp">NRP practice test</a>
                        </li>
                        <li>
                          <i class="bi bi-book"></i
                          ><a class="dropdown-item" href="https://www.acls.net/nrp-prep/curriculum">NRP curriculum</a>
                        </li>
                        <li>
                          <i class="bi bi-book"></i
                          ><a class="dropdown-item" href="https://www.acls.net/nrp-prep/flashcard">NRP flashcards</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  >Algorithms</span
                >
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item h2" href="https://www.acls.net/aclsalg">ACLS algorithms</a></li>
                  <li>
                    <div class="row">
                      <div class="col-lg-6">
                        <ul class="list-unstyled">
                          <li>
                            <i class="bi bi-heart-pulse"></i
                            ><a class="dropdown-item" href="https://www.acls.net/acls-secondary-survey">Cardiac arrest algorithm</a>
                          </li>
                          <li>
                            <i class="bi bi-heart-pulse"></i
                            ><a class="dropdown-item" href="https://www.acls.net/acute-coronary-syndromes-algorithm">
                              Acute coronary syndromes <br>
                              algorithm</a
                            >
                          </li>
                          <li>
                            <i class="bi bi-heart-pulse"></i
                            ><a class="dropdown-item" href="https://www.acls.net/acls-bradycardia-algorithm">Bradycardia algorithm</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul class="list-unstyled">
                          <li>
                            <i class="bi bi-heart-pulse"></i
                            ><a class="dropdown-item" href="https://www.acls.net/acls-tachycardia-algorithm">Tachycardia algorithms</a>
                          </li>
                          <li>
                            <i class="bi bi-heart-pulse"></i
                            ><a class="dropdown-item" href="https://www.acls.net/immediate-post-cardiac-arrest-care"
                              >Immediate post-cardiac <br>
                              arrest care algorithm</a
                            >
                          </li>
                          <li>
                            <i class="bi bi-heart-pulse"></i
                            ><a class="dropdown-item" href="https://www.acls.net/acls-suspected-stroke-algorithm"
                              >Suspected stroke algorithm</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><hr class="mx-auto"></li>
                  <li><a class="dropdown-item h2" href="https://www.acls.net/bls-algorithms">BLS algorithms</a></li>
                  <li>
                    <div class="row">
                      <div class="col-lg-6">
                        <ul class="list-unstyled">
                          <li>
                            <i class="bi bi-lungs"></i
                            ><a class="dropdown-item" href="https://www.acls.net/bls-simplified-algorithm">BLS simplified algorithm</a>
                          </li>
                          <li>
                            <i class="bi bi-lungs"></i
                            ><a class="dropdown-item" href="https://www.acls.net/bls-pediatric-algorithm">BLS pediatric algorithm</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul class="list-unstyled">
                          <li>
                            <i class="bi bi-lungs"></i
                            ><a class="dropdown-item" href="https://www.acls.net/bls-cpr-algorithm">BLS CPR algorithm</a>
                          </li>
                          <li>
                            <i class="bi bi-lungs"></i
                            ><a class="dropdown-item" href="https://www.acls.net/basic-life-support-primary-survey"
                              >BLS adult basic life <br>
                              support algorithm</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <hr class="mx-auto">
                  </li>
                  <li><a class="dropdown-item h2" href="https://www.acls.net/pals-algorithms">PALS algorithms</a></li>
                  <li>
                    <div class="row">
                      <div class="col-lg-6">
                        <ul class="list-unstyled">
                          <li>
                            <i class="bi bi-hospital"></i
                            ><a class="dropdown-item" href="https://www.acls.net/pals-algo-cardiac-arrest-bls"
                              >Cardiac arrest pediatric <br>
                              algorithm</a
                            >
                          </li>
                          <li>
                            <i class="bi bi-hospital"></i
                            ><a class="dropdown-item" href="https://www.acls.net/pals-algo-bradycardia"
                              >Bradycardia pediatric <br>
                              algorithm</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul class="list-unstyled">
                          <li>
                            <i class="bi bi-hospital"></i
                            ><a class="dropdown-item" href="https://www.acls.net/pals-algo-tachycardia"
                              >Tachycardia pediatric <br>
                              algorithm</a
                            >
                          </li>
                          <li>
                            <i class="bi bi-hospital"></i
                            ><a class="dropdown-item" href="https://www.acls.net/pals-algo-respiratory-emergencies"
                              >Pediatric respiratory <br>
                              emergencies algorithm</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  >Accreditations</span
                >
                <ul class="dropdown-menu">
                  <li>
                    <ul class="list-unstyled">
                      <li>
                        <i class="bi bi-patch-check"></i><a class="dropdown-item" href="/https://www.acls.netaccreditations">ACCME (AMA)</a>
                      </li>
                      <li><i class="bi bi-patch-check"></i><a class="dropdown-item" href="https://www.acls.net/accreditations">ANCC</a></li>
                      <li><i class="bi bi-patch-check"></i><a class="dropdown-item" href="https://www.acls.net/accreditations">ADA</a></li>
                      <li><i class="bi bi-patch-check"></i><a class="dropdown-item" href="https://www.acls.net/accreditations">ACPE</a></li>
                      <li>
                        <i class="bi bi-patch-check"></i
                        ><a class="dropdown-item" href="https://www.acls.net/accreditations/#canadaian-cme">Canadian CME</a>
                      </li>
                      <li>
                        <i class="bi bi-bookmark-check"></i
                        ><a class="dropdown-item" href="https://www.acls.net/sitemap#training-locations">Our brand approvals, by state</a>
                      </li>
                      <li><i class="bi bi-journals"></i><a class="dropdown-item" href="/aboutrnmobility">About us</a></li>
                      <li>
                        <i class="bi bi-person-workspace"></i
                        ><a class="dropdown-item" href="https://www.acls.net/how-our-courses-work">How it works</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <i class="bi bi-people"></i><a href="https://www.acls.net/group-discount" class="dropdown-item">Group training</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav navRight">
            <li class="nav-item d-none mt-auto mb-auto d-xl-block">
              <a class="nav-link login" href="https://lms.acls.net/login/">Login</a>
            </li>
            <li class="nav-item-block d-xl-none">
              <a class="nav-link" href="https://lms.acls.net/login/"
                ><i class="bi bi-box-arrow-in-right" aria-hidden="true"></i
                ><span class="visually-hidden">Login</span></a
              >
            </li>
            <li class="nav-item d-none d-xl-block mt-auto mb-auto text-center">
              <a href="https://www.acls.net/signup" class="nav-link signup">Sign up</a>
            </li>
            <li class="nav-item my-auto">
              <a class="nav-link" href="https://www.acls.net/contact">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
</div>